body {
  background-color: #efefef;
  color: #343434;
  font-size: 16px;
}

.page-header {
  text-align: center;
  margin: 3em 0 2em;
}

.page-header-sm {
  text-align: center;
  margin: 3em 0 0;
}

.left {
  text-align: left;
}

.action {
  text-align: center;
  margin: 0 0 2em 0;
}

.header-logo {
  width: 410px;
  display: block;
  margin: 1.5em auto 1.25em;
}

.header-logo-sm {
  width: 80%;
  display: block;
  margin: 1.5em auto;
}

.buffer {
  margin: 5em 0 0 0;
}

.buffer-sm {
  margin: 3em 0 0 0;
}

.buffer-xs {
  margin: 1em 0 0 0;
}

.btn-primary:not(.btn-link):not(.btn-flat) {
  background-color: #2f7aa2;
}

.btn-primary:hover:not(.btn-link):not(.btn-flat) {
  background-color: #4c65ff
}

.glyphicon {
  font-size: 2.25em;
  color: #2f7aa2;
}

.icon {
  text-align: center;
}

.xubuntu-icon {
  height: 43px;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin: .5em 0;
}

h4 {
  line-height: 1.4em;
}

.footer {
  font-size: .9em;
  margin: 5em 0 0 0;
  text-align: center;
  background-color: #2f7aa2;
  color: #efefef;
  padding: 1.5em 0 .8em;
  line-height: 1.7em;
}

.footer a, .footer a:hover, .footer a:focus {
  color: #efefef;
}

[class^=mdi-], [class*=mdi-] {
  display: block;
  font: normal normal normal 32px/1 'Material-Design-Icons';  
}

a, a:hover, a:focus {
  color: #337ab7;
}

code {
    padding: 1px 3px;
    font-size: 90%;
    color: #337ab7;
    background-color: #dedee6;
    border-radius: 4px;
}
